@media only screen and (max-width: 1024px) {

    .logoImage {
        margin-left: 0;
    }

    #container {
        width: 100%;
    }

    #TopHeader {
        height: 22rem;
        padding-top: 0rem;
        background-size: cover;
    }

    #navigation {
        display: none;
    }

    #navigationPDA {
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-around;
        word-spacing: 2rem;
    }

    #mainBanner {
        margin-top: 5rem;
        margin-right: 2rem;
        padding: 0.75rem 4rem;
        font-family: Helvetica;
        font-size: 1.33rem;
        border: none;
    }

    #ServicesGrid {
        width: 100%;
    }
    #PhilosophyAppointments{
    width: 100%;

}
}
