@media only screen and (max-width: 420px) {
    #container {
        width: 100%;
    }

    #mainBanner {
        width: 100%;
        margin-right: 0rem;
        margin-left: 0;
    }

    #ServicesGrid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #PhilosophyAppointments {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        border: 0;
    }

    .ServicesListPage {
        margin: 0px auto;
        padding-bottom: 4rem;
    }

    .ServicesList {
        margin: 0px auto;
        padding-bottom: 2rem;
    }

    #appointments {
        width: 90%;
    }

    #phylosophy {
        width: 90%;
    }

    .title {
        width: 100%;
    }

    .test {
        width: 100%;
    }
    #logoImageBlack{
        margin: 0px auto;
    }
    footer{
        width: 100%;
    }
    #footerTest{
        display: none;
    }
}
